{% extends "pages/base.html" %}
{% load static %}

{% block extrametatags %}

<!-- Primary Meta Tags -->
<title>Become A Master of CG Animations And Ignite Your Career | VFX Academy</title>
<meta name="title" content="Become A Master of CG Animations And Ignite Your Career | VFX Academy">
<meta name="description"
    content="Learn CG Animations from world class experts to jumpstart your career and take the movie industry by storm | Learn With VFX Academy">
<meta name="keywords"
    content="CG Animation School, CG Animation Academy, CG Animation Training in Nigeria, CG Animation Professional courses, Learn CG Animation from Experts, 3D Animation, Graphics Animation">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.vfxacademy.com/courses/cg-animation">
<meta property="og:title" content="Become A Master of CG Animations And Ignite Your Career | VFX Academy">
<meta property="og:description"
    content="Learn CG Animations from world class experts to jumpstart your career and take the movie industry by storm | Learn With VFX Academy">
<meta property="og:image" content="https://vfxacademy.com/static/img/the_avengers.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.vfxacademy.com/courses/cg-animation">
<meta property="twitter:title" content="Become A Master of CG Animations And Ignite Your Career | VFX Academy">
<meta property="twitter:description"
    content="Learn CG Animations from world class experts to jumpstart your career and take the movie industry by storm | Learn With VFX Academy">
<meta property="twitter:image" content="https://vfxacademy.com/static/img/the_avengers.jpg">
{% endblock %}

{% block extrahead %}
<link rel="canonical" href="https://www.vfxacademy.com/courses/cg-animation" />
<link rel="preload" href="{% static 'css/cg-animation.css' %}" as="style" />
<link rel="stylesheet" href="{% static 'css/cg-animation.css' %}" />
{% endblock %}

{% block content %}
<section class="first-section row col-12 p-0 m-0">
    <div class="col-md-1 d-none d-md-block px-3 bg-dark">
    </div>
    <div class="p-0 row col-12 col-md-8 my-0 mx-auto">
        <div class=" py-2 px-3 px-md-4 m-0">
            <img src="{% static 'img/get-the-best-of-cg-animation-from-vfx-academy.webp' %}" class="border rounded-lg"
                alt="cgi animation">
        </div>
        <div class="py-3 px-3 px-md-4">
            <h1 class="text-white pt-2 pb-0 px-0" style="font-size: 1.7em;">
                Learn CG Animation At VFX Academy
            </h1>
            <p class="paragraph text-white pt-1 px-0">
                The CG Animation Course at VFX Academy begins with a Foundation Module which gives students a thorough
                understanding of the basics of film making, visual effects and animation. This is then followed by an
                overall introduction to CG Animation.
            </p>
            <p class="paragraph text-white pt-2">
                At the successful completion of the Foundation Module &amp; Overall Introduction to CG Animation,
                students can proceed to the Specialization Module. The full path to certification in CG Animation is
                outlined below.
            </p>
            <h4 class="text-white p-0 pt-4 pb-2">
                Module 1: Foundation
            </h4>
            <h6 class="text-white p-0 pl-1 pb-2">
                <span class="pr-2 text-info">
                    <i class="far fa-clock"></i>
                </span>
                3 Months Duration
            </h6>
            <h6 class="text-white p-0 pl-1 m-0">
                <span class="pr-2 text-info">
                    <i class="fas fa-angle-double-right"></i>
                </span>
                Course Outline
            </h6>
            <ul class="text-white custom-list-style pl-4 pr-3 py-1">
                <li>
                    Introduction to Matte Painting and the Role of Matte Painting in Visual Effects.
                </li>
                <li>
                    Introduction to Photoshop and Photoshop tools.
                </li>
                <li>
                    Introduction to After Effects.
                </li>
                <li>
                    Animation in After Effects.
                </li>
            </ul>
            <h5 class="text-white p-0 pl-1">
                Overall Introduction to CG Animation
            </h5>
            <p class="paragraph text-white pt-2">
                This is the stage that introduces students to unique techniques in CG Animation and prepares them
                for Specialization in CG Animation. See all you are going to learn below:
            </p>
            <h6 class="text-white p-0 pl-1">
                <span class="pr-2 text-info">
                    <i class="fas fa-angle-double-right"></i>
                </span>
                Course Outline
            </h6>
            <ul class="text-white custom-list-style pl-4 pr-3 py-1">
                <li>
                    Understanding 3D Space and Elements.
                </li>
                <li>
                    Introduction to Blender.
                </li>
                <li>
                    Camera Animation.
                </li>
                <li>
                    Introduction to Blender &amp; Blender Tools.
                </li>
                <li>
                    Asset Layout in Blender.
                </li>
                <li>
                    Modeling Tools.
                </li>
                <li>
                    Basic UV Editing and Shading.
                </li>
                <li>
                    Using Photoshop for Texturing.
                </li>
                <li>
                    Texture Baking in Blender.
                </li>
                <li>
                    Creating and Exporting Game-ready Assets in Blender.
                </li>
            </ul>
            <h4 class="text-white p-0 pt-4 pb-2">
                Module 2: Specialization
            </h4>
            <h6 class="text-white p-0 pl-1 pb-1">
                <span class="pr-2 text-info">
                    <i class="far fa-clock"></i>
                </span>
                9 Months Duration
            </h6>
            <p class="paragraph text-white pt-2">
                At the Specialisation level, the course strengthens the student’s technical skills acquired in
                Foundation and develop creative skills.
                It provides further depth into the technique and craft of
                cinematography, editing and sound. In this module, students shoot and edit anon-narrative film,
                which can be a music video or a documentary or an ad.
            </p>
            <h5 class="text-white p-0 pl-1 pt-3">
                Specialization In CG Animation
            </h5>
            <p class="paragraph text-white pt-2">
                This is NOT just the same old Animation industry that your older brother may have told you
                about. The most advanced Software tools are now fully utilising the quantum leap in
                Computer Processing Power to provide Amazing Real Time Rendering and other such
                capabilities.
            </p>
            <p class="paragraph text-white pt-2">
                EVERYTHING has changed! There is a very real Revolution afoot.
                Shouldn't your course be Revolutionary too?
            </p>
            <h4 class="text-white p-0 pt-4 pb-2">
                Modules 3 &amp; 4: Pro Module Options
            </h4>
            <p class="paragraph text-white p-0">
                After successfully completing Foundation and Specialisation, students can choose from the following
                combination of Pro modules:
            </p>
            <ul class="text-white custom-list-style pl-4 pr-3 py-0">
                <li>
                    Pro Writing &amp; Directing: Writing &amp; Direction(I) + Writing &amp; Direction (II).
                </li>
                <li>
                    Pro Cinematography:Production-Post Production + Cinematography Pro.
                </li>
                <li>
                    Pro Editing: Production-Post Production + Editing Pro.
                </li>
            </ul>
            <p class="paragraph text-white py-1">
                Join VFX Academy today and become an expert in CG Animation.
                Learn more about our world class
                <a href="{% url 'home' %}" class="text-success">
                    courses in CG Animation, Visual Effects and Film making
                </a> at the home page.
                To register, use the button below:
            </p>
            <div class="col-12 row">
                <a href="{% url 'register' %}" class="blue ml-auto">REGISTER HERE</a>
            </div>

        </div>
    </div>
    <div class="col-md-3 px-1 bg-dark py-2">
        <div class="bg-white col-12 rounded-lg py-4 my-0 ">
            <h5 class="text-light-blue p-0 ">
                <span class="pr-2 text-light-blue">
                    <i class="fas fa-info-circle"></i>
                </span>
                EXPLORE MORE COURSES
            </h5>
            <p class="paragraph text-light-blue">
                You can also explore our other world class courses in Visual Effects and Film Making. Use the links
                below:
            </p>
            <div class="col-12 row p-0 mx-auto">
                <a href="{% url 'visual-effects' %}" class="blue mx-1">VISUAL EFFECTS</a>
                <a href="{% url 'film-making' %}" class="blue mx-1">FILM MAKING</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script type="module" src="{% static 'js/cg-animation.js' %}"></script>
{% endblock %}