{% extends "pages/base.html" %}
{% load static %}

{% block extrametatags %}

<!-- Primary Meta Tags -->
<title>Become A Master of Visual Effects And Ignite Your Career | VFX Academy</title>
<meta name="title" content="Become A Master of Visual Effects And Ignite Your Career | VFX Academy">
<meta name="description"
    content="Learn Virtual Effects from world class experts to jumpstart your career and take the movie industry by storm | Learn With VFX Academy">
<meta name="keywords"
    content="CG Animation School, CG Animation Academy, CG Animation Training in Nigeria, CG Animation Professional courses, Learn CG Animation from Experts">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.vfxacademy.com/courses/visual-effects">
<meta property="og:title" content="Become A Master of Visual Effects And Ignite Your Career | VFX Academy">
<meta property="og:description"
    content="Learn Virtual Effects from world class experts to jumpstart your career and take the movie industry by storm | Learn With VFX Academy">
<meta property="og:image" content="https://vfxacademy.com/static/img/the_avengers.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.vfxacademy.com/courses/visual-effects">
<meta property="twitter:title" content="Become A Master of Visual Effects And Ignite Your Career | VFX Academy">
<meta property="twitter:description"
    content="Learn Virtual Effects from world class experts to jumpstart your career and take the movie industry by storm | Learn With VFX Academy">
<meta property="twitter:image" content="https://vfxacademy.com/static/img/the_avengers.jpg">
{% endblock %}

{% block extrahead %}
<link rel="canonical" href="https://www.vfxacademy.com/courses/visual-effects" />
<link rel="stylesheet" href="{% static 'css/visual-effect.css' %}" />
{% endblock %}

{% block content %}
<section class="first-section row col-12 p-0 m-0">
    <div class="col-md-1 d-none d-md-block px-3 bg-dark">
    </div>
    <div class="p-0 row col-12 col-md-8 my-0 mx-auto">
        <div class=" py-2 px-3 px-md-4 m-0">
            <img src="{% static 'img/visual-effect-ghost-rider.webp' %}" class="border rounded-lg" alt="film making">
        </div>
        <div class="py-3 px-3 px-md-4">
            <h1 class="text-white pt-2 pb-0 px-0" style="font-size: 1.7em;">
                Become A Master Visual Effects At VFX Academy
            </h1>
            <p class="paragraph text-white pt-1 px-0">
                The Visual Effects Course begins with a Foundation Module which gives
                students a thorough understanding of the basics of film making, visual effects and animation.
                This is then followed by an overall introduction to Visual Effects.
            </p>
            <p class="paragraph text-white pt-2">
                At the successful completion of the Foundation Module &amp; Overall Introduction to Visual Effects,
                students can proceed to the Specialization Module. The full path to certification in Visual Effects is
                outlined below.
            </p>
            <h4 class="text-white p-0 pt-4 pb-2">
                Module 1: Foundation
            </h4>
            <h6 class="text-white p-0 pl-1 pb-2">
                <span class="pr-2 text-info">
                    <i class="far fa-clock"></i>
                </span>
                3 Months Duration
            </h6>
            <h6 class="text-white p-0 pl-1 m-0">
                <span class="pr-2 text-info">
                    <i class="fas fa-angle-double-right"></i>
                </span>
                Course Outline
            </h6>
            <ul class="text-white custom-list-style pl-4 pr-3 py-1">
                <li>
                    Introduction to Matte Painting and the Role of Matte Painting in Visual Effects.
                </li>
                <li>
                    Introduction to Photoshop and Photoshop tools.
                </li>
                <li>
                    Introduction to After Effects.
                </li>
                <li>
                    Animation in After Effects.
                </li>
            </ul>
            <h4 class="text-white p-0 pt-4 pb-1">
                Module 2: Specialization
            </h4>
            <p class="paragraph text-white py-0">
                This module focuses on teaching fundamental Compositing techniques as well
                as Motion Graphics, using After Effects.
            </p>
            <h5 class="text-white p-0  pt-1">
                Specialization In Visual Effects
            </h5>
            <h6 class="text-white p-0 pl-1 m-0 pt-2 pb-0">
                <span class="pr-2 text-info">
                    <i class="fas fa-angle-double-right"></i>
                </span>
                Course Outline
            </h6>
            <ul class="text-white custom-list-style pl-4 pr-3 pt-2 pb-0">
                <li>
                    Chroma Keying &amp; Compositing Fundamentals.
                </li>
                <li>
                    2D Motion Tracking.
                </li>
                <li>
                    Rotoscoping.
                </li>
                <li>
                    Basic 3D Match-moving.
                </li>
                <li>
                    Motion Graphics.
                </li>
                <li>
                    Title Animation.
                </li>
                <li>
                    Live Footage &amp; Motion Design integration.
                </li>
                <li>
                    Integrating 3D and 2D elements in After Effects.
                </li>
            </ul>
            <h4 class="text-white p-0 pt-4 pb-1">
                Modules 3: Advanced After Effects and Introduction to Nuke
            </h4>
            <p class="paragraph text-white p-0">
                In this module, the objective is to help you develop advanced compositing skills in After Effects and
                give you an overview of The Foundry's Nuke,
                a leading compositing software used widely in the industry.
            </p>
            <h6 class="text-white p-0 pl-1 m-0 pt-2 pb-0">
                <span class="pr-2 text-info">
                    <i class="fas fa-angle-double-right"></i>
                </span>
                Course Outline
            </h6>
            <ul class="text-white custom-list-style pl-4 pr-3 pt-2 pb-0">
                <li>
                    Clean-up.
                </li>
                <li>
                    Advanced 3D tracking.
                </li>
                <li>
                    Planar Tracking in Mocha.
                </li>
                <li>
                    4-Point and Offset Tracking in After Effects.
                </li>
                <li>
                    Introduction to Compositing CG passes.
                </li>
                <li>
                    Camera Projection in After Effects.
                </li>
                <li>
                    Introduction to the Nuke Interface.
                </li>
                <li>
                    The Merge Node.
                </li>
                <li>
                    Rotoscoping.
                </li>
                <li>
                    Introduction to Chroma Keying.
                </li>
                <li>
                    Introduction to 2D Motion Tracking.
                </li>
                <li>
                    The 3D Space and the Interface.
                </li>
                <li>
                    Introduction to CG Pass Compositing.
                </li>
                <li>
                    Time Controls.
                </li>
                <li>
                    Introduction to Real Flow, 3DMAX and MAYA Particles.
                </li>
            </ul>
            <p class="paragraph text-white py-1">
                Join VFX Academy today and become an expert in Visual Effects.
                Learn more about our world class
                <a href="{% url 'home' %}" class="text-success">
                    courses in CG Animation, Visual Effects and Film making
                </a> at the home page.
                To register, use the button below:
            </p>
            <div class="col-12 row">
                <a href="{% url 'register' %}" class="blue ml-auto">REGISTER HERE</a>
            </div>

        </div>
    </div>
    <div class="col-md-3 px-1 bg-dark py-2">
        <div class="bg-white col-12 rounded-lg py-4 my-0 ">
            <h5 class="text-light-blue p-0 ">
                <span class="pr-2 text-light-blue">
                    <i class="fas fa-info-circle"></i>
                </span>
                EXPLORE MORE COURSES
            </h5>
            <p class="paragraph text-light-blue">
                You can also explore our other world class courses in Visual Effects and Film Making. Use the links
                below:
            </p>
            <div class="col-12 row p-0 mx-auto">
                <a href="{% url 'film-making' %}" class="blue m-1">FILM MAKING</a>
                <a href="{% url 'cg-animation' %}" class="blue m-1">CG ANIMATION</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script type="module" src="{% static 'js/visual-effect.js' %}"></script>
{% endblock %}