<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="theme-color" content="#040406"> -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon"
        href="{% static 'img/learn-from-the-best-film-cg-animation-and-visual-effects-academy-in-nigeria.jpg' %}">
    <link rel="preload" sizes="192x192"
        href="{% static 'img/learn-from-the-best-film-cg-animation-and-visual-effects-academy-in-nigeria.jpg'  %}"
        as="image">
    <link rel="icon" sizes="192x192"
        href="{% static 'img/learn-from-the-best-film-cg-animation-and-visual-effects-academy-in-nigeria.jpg' %}">
    <meta name="theme-color" content="#0F1127">
    <!-- <meta name="theme-color" content="#000 "> -->

    {% block extrametatags %}
    {% endblock %}

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Yeseva+One&display=swap"
        as="style">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Yeseva+One&display=swap"
        rel="stylesheet">

    <link rel="preload" href="https://kit.fontawesome.com/19353213c2.js" as="script" crossorigin>
    <script src="https://kit.fontawesome.com/19353213c2.js" crossorigin defer></script>

    <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin as="style">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preload" href="{% static 'css/base.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extrahead %}

    {% endblock %}
</head>

<body class="col-12 p-0 m-0">
    <header class="m-0 p-0">
        <div class="col-12 m-0 px-2 py-2 mainNav-wrapper row text-white">
            <a href="{% url 'home' %}" class="mr-auto  logo p-1 my-auto pr-2">
                <img src=" {% static 'img/learn-from-the-best-film-cg-animation-and-visual-effects-academy-in-nigeria.jpg' %}"
                    alt="Learn from the best Film, CG Animation, and Visual Effects Academy in Lagos, Nigeria"
                    class="p-0 my-0 logo-img">
                FILM ACADEMY
            </a>
            <div class="ml-auto my-auto d-none d-md-block col-md-9">
                <ul class="col-12 row m-0 ul-md-nav justify-content-center">
                    <li class="col-md-3 text-center">
                        <a href="{% url 'home' %}" class="home">
                            <span class="pr-2">
                                <i class="fas fa-home"></i>
                            </span>
                            HOME
                        </a>
                    </li>
                    <li class="col-md-3 text-center m-0 courses position-relative">
                        <a href="#" class="courses" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                            <span class="pr-2">
                                <i class="fas fa-arrow-down"></i>
                            </span>
                            COURSES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a href="{% url 'cg-animation' %}">
                                    <span class="pr-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </span>
                                    CG ANIMATION
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'film-making' %}">
                                    <span class="pr-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </span>
                                    FILM MAKING
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'visual-effects' %}">
                                    <span class="pr-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </span>
                                    VISUAL EFFECTS
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-3 text-center m-0">
                        <a href="{% url 'about-us' %}" class="about-us">
                            <span class="pr-2">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            ABOUT US
                        </a>
                    </li>
                    <li class="col-md-3 text-center m-0 register">
                        <a href="{% url 'register' %}" class="register">
                            <span class="pr-2">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            REGISTER
                        </a>
                    </li>
                </ul>
            </div>
            <div id="navTriggerBtn"
                class="ml-auto d-md-none  rounded-circle bg-white p-0 my-auto wide-shadow navTriggerBtn ">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav id="mainNav"
            class="px-0 py-0 m-0 col-12 d-flex flex-column bg-info justify-content-center align-items-center">
            <div class="wrappper col-12 my-auto px-0  py-1 mx-0">
                <ul class="col-12 px-1 py-0 row m-0 ul-md-nav justify-content-center">
                    <li class="col-md-3 col-12 text-center mt-0 mb-0">
                        <a href="{% url 'home' %}" class="home text-left px-3">
                            <span class="pr-2">
                                <i class="fas fa-home"></i>
                            </span>
                            HOME
                        </a>
                    </li>
                    <li class="col-md-3 col-12 text-center m-0 courses position-relative my-1">
                        <a href="#" class="courses text-left px-3" id="dropdownMenu2" data-toggle="dropdown"
                            aria-haspopup="true">
                            <span class="pr-2">
                                <i class="fas fa-arrow-down"></i>
                            </span>
                            COURSES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a href="{% url 'cg-animation' %}">
                                    <span class="pr-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </span>
                                    CG ANIMATION
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'film-making' %}">
                                    <span class="pr-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </span>
                                    FILM MAKING
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'visual-effects' %}">
                                    <span class="pr-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </span>
                                    VISUAL EFFECTS
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-3 text-center m-0 my-0">
                        <a href="{% url 'about-us' %}" class="about-us text-left px-3">
                            <span class="pr-2">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            ABOUT US
                        </a>
                    </li>
                    <li class="col-md-3 text-center m-0 register my-1">
                        <a href="{% url 'register' %}" class="register text-left px-3">
                            <span class="pr-2">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            REGISTER
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="col-12 p-0 m-0">
        {% block content %}
        {% endblock %}
    </main>
    <!-- <div class="whatsapp-chat">
        <a href="https://api.whatsapp.com/send?phone=2349063708111">
            <span>
                <i class="fab fa-whatsapp"></i>
            </span>
        </a>
    </div> -->
    <footer class="col-12 px-3 px-md-2 mx-0 first-footer pt-4 pb-0 row">
        <div class="col-md-11 mx-auto row p-0 my-0 py-2">
            <div class="col-md-3 p-2 py-2 py-md-4">
                <div>
                    <h4 class="text-white">
                        VFX Academy
                    </h4>
                    <ul>
                        <li>
                            <a href="{% url 'about-us' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'team-and-facility' %}">Our Team</a>
                        </li>
                        <li>
                            <a href="{% url 'team-and-facility' %}">Facilities</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 p-2 py-2 py-md-4">
                <div>
                    <h4 class="text-white">
                        Courses
                    </h4>
                    <ul>
                        <li>
                            <a href="{% url 'film-making' %}">Film Making</a>
                        </li>
                        <li>
                            <a href="{% url 'cg-animation' %}">CG Animation</a>
                        </li>
                        <li>
                            <a href="{% url 'visual-effects' %}">Visual Effect</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 p-2 py-2 py-md-4">
                <div>
                    <h4 class="text-white">
                        Contact Us
                    </h4>
                    <ul>
                        <li>
                            <a href="tel:+2349045497315">
                                <span class="pr-2">
                                    <i class="fas fa-phone"></i>
                                </span>
                                +2349045497315
                            </a>
                        </li>
                        <li>
                            <a href="tel:+2348038332248">
                                <span class="pr-2">
                                    <i class="fas fa-phone"></i>
                                </span>
                                +2348038332248
                            </a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=2349063708111">
                                <span class="pr-2">
                                    <i class="fab fa-whatsapp"></i>
                                </span>
                                Chat on WhatsApp
                            </a>
                        </li>
                        <li>
                            <a href="mailto: care@brilliant.ng">
                                <span class="pr-2">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                Send an Email
                            </a>
                        </li>
                    </ul>
                    <h4 class="text-white py-2">
                        Address
                    </h4>
                    <div class="row col-12">
                        <span class="border-decorator" class="col-2"></span>
                        <address class="text-white col-10">
                            Block 111, Plot 25B, Daniyan Natalia Street, Lekki Phase 1, Lagos.
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2 py-2 py-md-4">
                <div>
                    <h4 class="text-white">
                        Find Us On Social Media
                    </h4>
                    <div class="row col-12">
                        <a href="#" class="text-white" style="font-size: 1.3rem;">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="text-white mx-3" style="font-size: 1.3rem;">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="text-white" style="font-size: 1.3rem;">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <ul class="my-4">
                        <li>
                            <a href="#">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-center mb-0 bg-white col-md-11 mt-4 mb-1 rounded-sm"
            style="color: rgba(3, 27, 78, .90) !important; font-size: .88rem !important;">
            Copyright &copy; <span>{% now "Y" %}</span> | Virtual FX Academy
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="module" src="{% static 'js/base.js' %}"></script>
    {% block extrascripts %}
    {% endblock %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e4b9589a89cda5a18868c32/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>